/* /Components/CustomInputText.razor.rz.scp.css */
.default-input[b-ke5wxkj6ev] {
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: 5px solid lightgray;
    outline-offset: -1px;
    transition: all ease-in-out .2s;
}

.default-input:focus-visible[b-ke5wxkj6ev]{
    outline: 5px solid blue;
}
.default-input.good-input:focus[b-ke5wxkj6ev] {
    outline: 5px solid green !important;
}

.default-input.warnning-input:focus[b-ke5wxkj6ev] {
    outline: 5px solid orange !important;
}

.default-input.danger-input:focus[b-ke5wxkj6ev] {
    outline: 5px solid red !important;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.content[b-4ffzppdsc7]{
    padding: 1rem;
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}
.page[b-4ffzppdsc7]{
    background-color: lightgray;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-dark[b-fkrnxn2bk1]{
    background-color: gray;

}[b-fkrnxn2bk1] a.nav-link, button[b-fkrnxn2bk1]{
     color: white;
 }
[b-fkrnxn2bk1] a.nav-link:hover, button:hover[b-fkrnxn2bk1]{
    text-decoration: underline;
    color: white;
}
