
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@page "/GamesList"
@inject HttpClient Http
@using AuthTemplate.Shared.Models;
@inject NavigationManager Nav;

@if (user != null)
{
    <h1>היי @user.FirstName</h1>
    <p>כאן יופיע תוכן של משתמשים מחוברים</p>
    <p>בבדיקה מול השרת הID שלך הוא: @userId</p>
}


@code {

    [CascadingParameter]
    private User user { get; set; }
    
// פתיחת מופע חדש של המחלקה
    List<GameListDto> gameList;
    string msg = ""; 
    int userId = 0;
    
    protected override async Task OnParametersSetAsync()
    {
        if (user != null && user.Id > 0)
        {
            //פנייה לקונטרולר ושליפת המשחקים
            var gameResponse = await Http.GetAsync("api/Games");
            if (gameResponse.IsSuccessStatusCode)
            {
                gameList = gameResponse.Content.ReadFromJsonAsync<List<GameListDto>>().Result;
            }
        }
    }
}
