@page "/GeneralSettings/{gameID:int}"
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@inject HttpClient Http
@using AuthTemplate.Shared.Models;
@inject NavigationManager Nav;
<a href="./GamesList">בחזרה למשחקים שלי</a>
<h3>⚙️הגדרות כלליות️</h3>


    

@if (gameSettings != null)
{
    <label>שם המשחק:</label>  
    <div>
        @if (isEditingName == true)
        {
            @* מצב עריכה: תיבת טקסט שמקושרת לשם, וכפתור אישור *@
            <input type="text" @bind="gameSettings.gameName" />
            <input type="button" value="✔️" @onclick="(() => isEditingName = false)" style="background: none; border: none; cursor: pointer;" />
        }
        else
        {
            @* מצב תצוגה: טקסט רגיל (בתור תת-כותרת) וכפתור עיפרון *@
            <span>@gameSettings.gameName</span>
            <input type="button" value="✏️" @onclick="(() => isEditingName = true)" style="background: none; border: none; cursor: pointer;" />
        }
    </div>
   
}
else
{
    <p>טוען נתונים...</p>
}

<br />
@* כפתור השמירה שיפעיל את פונקציית העדכון מול הקונטרולר *@
<input type="button" value="שמור" @onclick="SaveSettingsAndMove" />

<p>@msg</p>

@code
{
    //הפרמטר שמוזרק בנתיב
    [Parameter]
    public int gameID { get; set; } 
    
    // מופע של ה-DTO שמכיל את נתוני המשחק 
    GameToAddDto gameSettings;
    
    // משתנה בוליאני שעוזר לנו לבדוק אם אנחנו במצב עריכה או בתצוגה רגילה
    bool isEditingName = false;

    // עם טעינת העמוד
    protected override async Task OnInitializedAsync()
    {
        // קריאה לקונטרולר שיביא את המשחק הספציפי
        var response = await Http.GetAsync("api/Games/byId/" + gameID.ToString());
        
        if (response.IsSuccessStatusCode == true)
        {
            gameSettings = response.Content.ReadFromJsonAsync<GameToAddDto>().Result;
        }
    }
    
    
    string msg = "";
//פונקציה שפונה לקונטרולר שמעדכן את הפרטים שקשורים להגדרות הכלליות: שם המשחק, זמן, שיקוי
    async Task SaveSettingsAndMove()
    {
        // שליחת בקשת POST לנתיב שיצרנו, תוך שרשור ה-ID ושליחת האובייקט המעודכן
        var updateResponse = await Http.PostAsJsonAsync("api/Games/updateGame/" + gameID.ToString(), gameSettings);
//בדיקה אם העדכון הצליח        
        if (updateResponse.IsSuccessStatusCode == true)
        {
            msg = "השינויים נשמרו בהצלחה!";
            // כאן נוסיף את פקודת הניווט לעמוד הבא של יצירת השאלות
            // Nav.NavigateTo("./QuestionsPage/" + gameId.ToString());
        }
        else 
        {
            // אם העדכון נכשל, נקרא את השגיאה שהשרת החזיר
            msg = updateResponse.Content.ReadAsStringAsync().Result;
        }
    }
  }
