@page "/"

<PageTitle>פרויקט סופר מגניב</PageTitle>

<!-- ניהול משתמשים - תצוגה שונה לפי משתמש -->

<AuthorizeView>
    <!-- ניהול משתמשים - משתמש מחובר -->
    <Authorized>
        @if (user != null)
        {
            <h1>היי @user.FirstName @user.LastName</h1>
        }
    </Authorized>
        <!-- ניהול משתמשים - משתמש לא מחובר -->
    <NotAuthorized>
        <h1>אין משתמש מחובר</h1>
        <p>אפשר להציג פה תוכן כללי.</p>
    </NotAuthorized>
</AuthorizeView>


@code {

    [CascadingParameter]
    private User user { get; set; }
    
}
