@page "/EditGame/{gameID:int}"
<h1>עריכת השאלות</h1>
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@attribute [Authorize]
@using AuthTemplate.Shared.Models
@inject HttpClient Http

@code {
    //הפרמטר שמתקבל מהנתיב (מזהה המשחק)
    [Parameter]
    public int gameID { get; set; }
    
//רשימה שנועדה לשמור את השאלות שחוזרות מהקונטרולר
List<Question> questionsList;
string errorMsg = "";

    
    
    
    
    
    
}