@using AuthTemplate.Shared.Models
@* קומפוננטה שפתחנו בשביל ליצור פופ-אפ ליצירת משחק חדש.  *@

<div class="popup-overlay">
    <section class="popup-content">
        <h3>שם המשחק:</h3>
        
       @* הטופס של יצירת שם המשחק שמחובר לDTO של ההוספה *@
        <EditForm Model="gameToAdd" OnValidSubmit="SubmitGame">
            <DataAnnotationsValidator />
            <p>
                @* תיבת הטקסט מקושרת לשם המשחק *@
                <InputText @bind-Value="gameToAdd.gameName" />
            </p>
            @* הודעת שגיאה *@
            <ValidationMessage For="@(() => gameToAdd.gameName)" />

            <br /><br />
            @* כפתור אישור מפעיל את האון-ואליד סבמיט רק אם שם המשחק תקין *@
            <input type="submit" value="אישור" style="background-color: #ff8b03; padding: 5px 15px; margin-left: 10px;" />
            
            @* אם לוחצים על כפתור ביטול, חלונית הפופ-אפ תיסגר (בעזרת פונקציית CANCEL שקישרנו לכפתור) *@
            <MyButton ButtonStyle="secondary" ButtonText="ביטול" OnClickAction="Cancel" />
            </EditForm>
    </section>
</div>

@code {
    // מופע חדש וריק של ה-DTO שלך (מכיל רק את שם המשחק)
    GameToAddDto gameToAdd = new GameToAddDto();
    
    // "פעמון" שמודיע לעמוד הראשי לשמור את המשחק, ומעביר לו את שם המשחק התקין
    [Parameter]
    public EventCallback<GameToAddDto> OnSave { get; set; }

    // "פעמון" שמודיע לעמוד הראשי שהמשתמש התחרט ורוצה לסגור את הפופ-אפ
    [Parameter]
    public EventCallback OnCancel { get; set; }

    // פונקציה שמופעלת רק אם השם תקין מבחינת הוולידציות (DataAnnotations)
    private async Task SubmitGame()
    {
        // מצלצלים בפעמון לעמוד הראשי ומעבירים לו את המופע עם שם המשחק
        await OnSave.InvokeAsync(gameToAdd);
    }

    // פונקציה שמופעלת כשלוחצים על ביטול
    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    }
}