@* קומפוננטה שפתחנו לצורך האייקונים של עריכת הנחיה/שאלה *@

@* אייקון עיפרון לחיץ *@
<span class="edit-icon" @onclick="IconClicked">
    <svg viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.861796 6.07406H1.39233L5.0316 2.43478L4.50107 1.90425L0.861796 5.54352V6.07406ZM0.489492 6.81867C0.384006 6.81867 0.295645 6.78292 0.224411 6.71144C0.153177 6.63996 0.117436 6.5516 0.117188 6.44636V5.54352C0.117188 5.44424 0.135803 5.34955 0.173033 5.25945C0.210264 5.16936 0.263007 5.0903 0.331263 5.0223L5.0316 0.331263C5.10607 0.263007 5.18834 0.210264 5.27844 0.173033C5.36854 0.135803 5.46311 0.117188 5.56214 0.117188C5.66117 0.117188 5.75735 0.135803 5.85067 0.173033C5.944 0.210264 6.02466 0.266109 6.09267 0.34057L6.60459 0.861796C6.67905 0.930052 6.73328 1.01072 6.76729 1.10379C6.80129 1.19687 6.81842 1.28995 6.81867 1.38302C6.81867 1.4823 6.80154 1.57699 6.76729 1.66709C6.73304 1.75719 6.6788 1.83934 6.60459 1.91356L1.91356 6.60459C1.8453 6.67285 1.76612 6.72559 1.67603 6.76282C1.58593 6.80005 1.49136 6.81867 1.39233 6.81867H0.489492ZM4.76168 2.17417L4.50107 1.90425L5.0316 2.43478L4.76168 2.17417Z" fill="#666"/>
    </svg>
</span>

@code {
    [Parameter]
    public EventCallback OnClick { get; set; } // "פעמון" שמודיע שלחצו על האייקון 

    async Task IconClicked()
    {
        await OnClick.InvokeAsync();
    }
}