@using AuthTemplate.Shared.Models
@* קומפוננטה שפתחנו בשביל ליצור פופ-אפ גנרי למחיקה  *@

<div class="popup-overlay">
    <section class="popup-content">
        
        @* לכאן ייכנס התוכן הדינמי שנעביר מבחוץ בכל פעם *@
        @ChildContent
        
        <input type="button" @onclick="ConfirmDelete" value="מחיקה" style="background-color: lightcoral;" />
        <input type="button" @onclick="CancelDelete" value="ביטול" style="background-color: lightgray;" />
    </section>
</div>

@code {
    //אנחנו משתמשים ב-CHILDCONTENT כדי להעביר תוכן שלם של HTML לתוך הקומפוננטה, כלומר תוכן מתחלף
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    // פעמון שמודיע לעמוד הראשי אם המשתמש אישר או ביטל
    [Parameter]
    public EventCallback<bool> OnUserConfirm { get; set; }

    private async Task ConfirmDelete()
    {
        await OnUserConfirm.InvokeAsync(true);
    }

    private async Task CancelDelete()
    {
        await OnUserConfirm.InvokeAsync(false);
    }
}