@* קומפוננטה שפתחנו בשביל הודעות ה-TOAST שלנו *@

<div class="toast-container">
    @* כפתור האיקס קורא לפונקציה הפנימית שממוקמת למטה *@
    <input type="button" class="close-btn" value="X" @onclick="CloseClicked" />

    <div>
        @ChildContent
    </div>
</div>

@code {
    // פרמטר מיוחד המאפשר לקבל תוכן HTML מבחוץ
    [Parameter] public RenderFragment ChildContent { get; set; }

    // "הפעמון" שמודיע לעמוד הראשי שצריך לסגור את הטוסט 
    [Parameter] public EventCallback<bool> OnCloseToast { get; set; }

    // הפונקציה שמופעלת בלחיצה על האיקס 
    async Task CloseClicked()
    {
        // מפעילים את הפעמון ושולחים true החוצה לעמוד הראשי 
        await OnCloseToast.InvokeAsync(true);
    }
}