@inject IAuthenticationService _Auth

<AuthorizeView>
    <Authorized>
        <div class="navbar navbar-dark">

            <div class="container-fluid justify-content-start">
                @if (user != null)
                {
                    <div class="px-3">
                        <span class="oi oi-person ps-2"></span>@user.FirstName @user.LastName
                    </div>
                }
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> משחק
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="./GamesList">
                        <span aria-hidden="true"></span> המשחקים שלי
                    </NavLink>
                </div>
                <div class="nav-item">
                    <button class="btn" @onclick="() => { _Auth.Logout(); }">התנתקות</button>
                </div>
            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="navbar navbar-dark">
            <div class="container-fluid justify-content-start">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> משחק
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="./GamesList">
                        <span aria-hidden="true"></span> המשחקים שלי
                    </NavLink>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter] private User user { get; set; }

}